.name-color{
font-size: 25px;
color: orange;
}
.button-color{
    color:white;
    text-decoration: none;
    background-color: orange;
    border-radius: 5px;
    
}

.half-width{
    width: 40%;
    float: left;
margin-left: 5%;
margin-top:2%


}
.half-width img{
    width: 100%;

}
