.orenge-color{
font-size: 25px;
color: orange;
}
.button{
    color:rgb(255, 255, 255);
    text-decoration: none;
    background-color: orange;
    border-radius: 10px;
    padding: 10px 15px;
    
}

.half-width{
    width: 40%;
    float: left;
margin-left: 5%;
margin-top:2%


}
.half-width img{
    width: 100%;

}
.banner1{
    border: 2px;

    background-image: url("image/top-banner.png");
    background-repeat: no-repeat;
  
}
section{
    height: 500px;
    
}
body {
    margin: 0%;
}
.shadow{
    box-shadow: 10px 10px 20px rgb(26, 17, 1);
    border-radius: 10px;
height: 65%;
background-color: white;
}
.experience {
    background-image: url("image/exp-bg.png");
    background-repeat: no-repeat;






    background-position: left;
}
    
#side-border{
    border-left: 7px solid
   
    ;
    border-image: linear-gradient(180deg, rgb(214, 223, 34), tomato);
    border-image-slice: 1;
}
#sidetwo{

    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

footer p{
    text-align: center;
}







































































































































